
.block2 {

  background-color: white;
  margin: 100px auto;
  padding: 50px 0;

}

.block2_content {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

img {
  width: 40px;
  height: auto;
  padding-bottom: 20px;
}

.block2_left p {

  padding-right: 90px;
  padding-top: 20px;
}

.block2_right h3 {
  padding-bottom: 20px;
}


.block2_right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.right_item {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px;
}


.block2_left button:hover {
  background-color: red;
  color: white;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.block2_left button {
  background-color: white;
  color: red;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid red;
}





